

*{background-color: #EFF1F3;}

/* body */
body{
    font-family:"Times New Roman", Times, serif;
    margin-top:100px;
}
p{color:#223843;}


/* headings */
h1{color:#D77A61;}
h2{color:#D8B4A0}
H3{color:#223843}

/* nav */
nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
 nav ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin:0;
    padding:0;
    background-color:#D8B4A0;
    overflow:hidden;
    position: relative;
}
 nav li a{
    display:block;
    color:#223843;
    background-color: #D8B4A0;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #D77A61;
    align-self: stretch;
    padding: 1em 7em;
}
nav li a:hover{
    background-color:#D77A61;
}
nav li:first-child a{
    border-left:1px solid #D77A61;
}

/* stamp */
#stamp {
    position:fixed; 
    top:30px;
    right:50px;
    background-color:transparent;
}
#stamp a{
    box-sizing: border-box;
    display:block;
    width: 110px;
    height: 110px;
    padding: 48px 35px;
    background-image:url(images/stampheadshot.jpg);
    background-size:cover;
    border-radius:300px;
    opacity: 0.7;
    transition:opacity 0.3s;
}

#stamp a span {
    font: 13px "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: none !important;
    opacity:0;
    transition:opacity 0.3s;
}
#stamp a:hover {
    opacity: 1;
}
#stamp a:hover span {
    opacity:1;
}
/* project list*/
ul{
    list-style-type:none;  
}
